<div class="container">
  <h4 class="center green">
    <a href="/users/<%= session[:user_id] %>"><%= @logged_in %></a>
  </h4>
  <h4 class="center red"><%= @error %></h4>
  <fieldset>
    <legend>Login</legend>
      <form method="post" action="/login">
        <table>
        <tr>
          <td>Username: </td><td><input type="text" name="email"></td>
        </tr>
        <tr>
          <td>Password: </td><td><input type="password" name="password"></td>
        </tr>
        <tr>
          <td><input type="submit" value="Submit"></td>
        </tr>
      </form>
    </table>
  </fieldset>
  <br>
  <fieldset>
    <legend>Create Account</legend>
      <form method="post" action="/users/new">
        <table>
        <tr>
          <td>Username: </td><td><input type="text" name="email"></td>
        </tr>
        <tr>
          <td>Password: </td><td><input type="password" name="password"></td>
        </tr>
        <tr>
          <td><input type="submit" value="Submit"></td>
        </tr>
      </form>
    </table>
  </fieldset>
</div>
