<div class="container">
<h1>You're not logged in!</h1>
<form action="/login" method="post">
  Email: <input type="text" name="email">
  Password: <input type="text" name="password">
  <input type="submit" value="Login">
</form>
<a href="/register">Click here to register</a>
</div>
